<link rel="stylesheet" href="/css/articles_pokemon.css">

<div class="article-container">
  <h1 class="article-title">{{article.title}}</h1>
  <p class="article-author">{{article.author}}</p>
  <p class="article-date">{{article.date}}</p>
  <div class="article-content">
    {{article.content}}
  </div>
</div>
