<link rel="stylesheet" href="/css/home.css">

<section class="home-articles">
  <div class="article-preview">
    <img src="/images/001.png" alt="文章一" />
    <div class="article-info">
      <button onclick="location.href='/articles/1'">看更多</button>
    </div>
  </div>

  <div class="article-preview">
    <img src="/images/002.png" alt="文章二" />
    <div class="article-info">
      <button onclick="location.href='/articles/2'">看更多</button>
    </div>
  </div>

  <div class="article-preview">
    <img src="/images/003.png" alt="文章三" />
    <div class="article-info">
      <button onclick="location.href='/articles/3'">看更多</button>
    </div>
  </div>
</section>
